[Unit]
Description=Streamer screen communication
After=network.target

[Service]
Type=simple
User=username
WorkingDirectory=/path/to/app/streamer-screen-communication
ExecStart=/usr/bin/python /path/to/app/streamer-screen-communication/main.py
Restart=always

[Install]
WantedBy=multi-user.target
